<div class="smr-author-box">
	<h3>Sobre o Autor</h3>
	<img title="Marcos Munoz - Marketing | Inovação | Empreendedorismo" alt="Marcos Munoz - Marketing | Inovação | Empreendedorismo" src="{{ site.author.img }}" class="avatar" />
	<h4>Marcos Munoz</h4>
	<p>Empreendedor, Mentor, Consultor e Design Thinker. Formado em Sistemas de Informação pela FIAP e MBA em Gestão de Empresas e Marketing pela Business School São Paulo.</p>
	<div class="clear"></div>
	<a href="https://www.facebook.com/MarcosMunozNet/" target="_blank" class="smr-author-link smr-website"><i class="fa fa fa-facebook"></i></a>
	<a href="https://twitter.com/MarcosMunozNet/" target="_blank" class="smr-author-link smr-website"><i class="fa fa fa-twitter"></i></a>
	<a href="https://br.linkedin.com/in/marcosmunoznet/" target="_blank" class="smr-author-link smr-website"><i class="fa fa fa-linkedin"></i></a>
	<a href="https://www.instagram.com/marcosmunoznet/" target="_blank" class="smr-author-link smr-website"><i class="fa fa fa-instagram"></i></a>
	<div class="smr-post-separator"></div>
</div>
