<div class="smr-author-box">
	<h3>Sobre o Autor</h3>
	<img title="Marcos Munoz - Marketing | Inovação | Empreendedorismo" alt="Marcos Munoz - Marketing | Inovação | Empreendedorismo" src="{{ site.url }}{{ site.author.img }}" class="avatar" height='120' width='120' />
	<h4>Marcos Munoz</h4>
	<p>Consultor de TI, empreendedor e design thinker. Formado em Sistemas de Informação pela FIAP e MBA em Gestão de Empresas e Marketing pela Business School São Paulo.</p>
	<div class="clear"></div>
	<a href="/author/md/" class="smr-author-link smr-author-posts">Ver todos os posts</a>
	<a href="" target="_blank" class="smr-author-link smr-website"><i class="fa fa fa-link"></i></a>
	<a href="https://www.facebook.com/marcosmunozbr" target="_blank" class="smr-author-link smr-website"><i class="fa fa fa-facebook"></i></a>
	<a href="https://twitter.com/marcosmunozbr" target="_blank" class="smr-author-link smr-website"><i class="fa fa fa-twitter"></i></a>
	<a href="https://br.linkedin.com/in/marcosmunozbr" target="_blank" class="smr-author-link smr-website"><i class="fa fa fa-linkedin"></i></a>
	<a href="https://www.instagram.com/marcosmunozbr/" target="_blank" class="smr-author-link smr-website"><i class="fa fa fa-instagram"></i></a>
	<div class="smr-post-separator"></div>
</div>
