<div class="related-posts">
  <div class="related-posts-content">
    <h3>Posts Relacionados</h3>
    <ul class="related-post">
      {% for post in site.related_posts limit:8%}
      <li>
        <a href="{{ post.url }}">
          <img src="{{ site.thumb_image }}{{ post.url | prepend: site.baseurl | slugify }}{{ post.image-type}}" alt="{{ post.title }}" width="150">
        </a>
        <a href="{{ post.url }}" class="related-post-title">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
