<div id="site_search" class="smr-search-form">
  <input id="search_box" name="s" class="smr-search-input" type="text" placeholder="Escreva aqui para pesquisar…" autocomplete="off" />
</div>
<script>
jQuery(function() {
  window.idx = lunr(function () {
    this.field('id');
    this.field('title');
    this.field('author');
    this.field('categories');
    this.field('tags');
    this.field('subtitle');
  });

  window.data = $.getJSON('/search_data.json');

  window.data.then(function(loaded_data){
    $.each(loaded_data, function(index, value){
      window.idx.add(
        $.extend({ "id": index }, value)
      );
    });
  });

  $("#search_box").keyup(function(){
      event.preventDefault();
      var query = $("#search_box").val();
      var results = window.idx.search(query);
      display_search_results(results);
  });

  function display_search_results(results) {
    var $search_results = $("#search_results");

    window.data.then(function(loaded_data) {

      if (results.length) {
        $search_results.empty();

        results.forEach(function(result) {
          var item = loaded_data[result.ref];

          var appendString = '<li><img alt="' + item.title + '" src="' + item.thumb+item.image+item.type + '" class="avatar" style="border-radius: 5%;" width="150" /><a href="' + item.url + '" class="tags-link">' + item.title + '</a></li>'
          $search_results.append(appendString);
        });
      } else {
        $search_results.html('<li>Não encontramos artigos relacionados à pesquisa. :(</li>');
      }
    });
  }
});
</script>
