<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="14.00:00:00"/>
      <remove fileExtension=".svg"/>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-woff2"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
      <mimeMap fileExtension=".ogv" mimeType="video/ogv"/>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <httpCompression>
      <dynamicTypes>
        <clear/>
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/x-javascript"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="false" mimeType="*/*"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/atom+xml;charset=utf-8"/>
      </dynamicTypes>
      <staticTypes>
        <clear/>
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/xaml+xml"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="true" mimeType="image/svg+xml"/>
        <add enabled="false" mimeType="*/*"/>
      </staticTypes>
    </httpCompression>
  </system.webServer>
</configuration>
